! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #001a1a, #001a1a, #003642
rofi.color-normal: #001a1a, #819396, #001a1a, #003642, #819396
rofi.color-active: #001a1a, #008ed4, #001a1a, #003642, #008ed4
rofi.color-urgent: #001a1a, #da4281, #001a1a, #003642, #da4281