[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/opt/firefox-developer/firefox %u
Name=Firefox Developer Edition
Comment=Особое определение для Firefox Developer Edition
